body{
  font-family: 'Cardo', serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 0.5rem;
}
.col {
  flex: 1 1 0;
}
.col-1 {
  flex: 0 0 8.333333%;
}
.col-2 {
  flex: 0 0 16.666666%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 33.333333%;
}
.col-5 {
  flex: 0 0 41.666666%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.333333%;
}
.col-8 {
  flex: 0 0 66.666667%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.333333%;
}
.col-11 {
  flex: 0 0 91.666667%;
}
.col-12 {
  flex: 0 0 100%;
}
.navbar ul{
  display: flex;
  list-style-type: none;
}
.navbar ul li{
  margin: 1rem;
}
.navbar ul li a{
  color: black;
}
.navbar a {
  display: block;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  color: rgba(239, 233, 233, 0.703);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  transition: all 1s;
  position: relative;
}
.navbar a:hover:after {
  width: 100%;
}
.navbar a:hover:before { 
  width: 100%;
}
.navbar a:after {
  content: "";
  bottom: -5px;
  left: 0;
  position: absolute;
  background-color: #2980b9;
  height: 4px;
  width: 0;
  transition: all 0.5s;
}
.navbar a:before {
  content: attr(data-name);
  position: absolute;
  bottom: -4px;
  left: 0;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
  text-transform: uppercase;
  width: 0%;
  overflow: hidden;
  transition: all 0.5s;
}
.navbar .active {
  color: black;
  transition: all 0s;
}
.navbar a.active:after {
  content: "";
  left: 0;
  position: absolute;
  background-color: rgb(160, 70, 199);
  height: 4px;
  width: 100%;
}
.navbar a.active:hover:before {
  width: 0;
  transition: all 0s;
}
.navbar a:first-child {
  animation: menu-animation 0.5s;
}
.navbar a:nth-child(2) {
  animation: menu-animation 1s;
}
.navbar a:nth-child(3) {
  animation: menu-animation 1.5s;
}
.navbar a:nth-child(4) {
  animation: menu-animation 2s;
}
.navbar a:nth-child(5) {
  animation: menu-animation 2.5s;
}

@keyframes menu-animation {
  from {
    opacity: 1;
    transform: translate(0, 200%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media (max-width: 620px) {
  .navbar a {
    border-bottom: none;
    border-right: 5px solid transparent;
  }
}
